<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Reporte de Ventas    
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-home"></i> Inicio</a></li>
    <li><a href="#/reporteVentas">Reportes</a></li>
    <li class="active">Reporte de Ventas</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">        
        <div class="panel panel-primary" id="detalle_compra">
        <div class="panel-heading">
          
          <div class="input-group">
            <span class="text-left panel-title">Página: {{tableParams.page()}}</span>                               
          </div>
          
          <div class="input-group" style="margin-top: 20px">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" class="form-control" placeholder="Buscar por código de barras" ng-model="buscar.codigoBarras">
          </div>
        </div>        
        
        <div class="panel-body">
          <div class="table-responsive">
            <table ng-table="tableParams" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="min-width: 80px;">
                    Numero de Factura
                    <span ng-hide="sort" class="fa fa-sort-amount-asc" style="cursor: pointer" ng-click="ordenarPor('-noFactura',true)"></span>
                    <span ng-show="sort" class="fa fa-sort-amount-desc" style="cursor: pointer" ng-click="ordenarPor('noFactura',false)"></span>                                    
                  </th>
                  <th style="min-width: 80px;">
                    Fecha
                    <span ng-hide="sort" class="fa fa-sort-amount-asc" style="cursor: pointer" ng-click="ordenarPor('-fecha',true)"></span>
                    <span ng-show="sort" class="fa fa-sort-amount-desc" style="cursor: pointer" ng-click="ordenarPor('fecha',false)"></span> 
                  </th>
                  <th style="min-width: 80px;">Cédula </th>
                  <th style="min-width: 80px;">Nombre Teléfono</th>
                  <th style="min-width: 80px;">Teléfono</th> 
                  <th style="width:50px;"> </th>                 
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="registro in $data | orderBy:ordenSeleccionado | filter:buscar">
                  <td>{{ registro.noFactura }}</td>
                  <td>{{ registro.fecha }}</td> 
                  <td>{{ registro.cedula }}</td>                  
                  <td>{{ registro.nombre }}</td>
                  <td>{{ registro.telefono }}</td>     
                  <td><a ng-click="verProductos(registro.noFactura)" class="btn btn-small btn-success">Ver Productos</a></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th style="border-right-width: 1px;">Datos por página: {{tableParams.count()}}</th>                  
                </tr>                
              </tfoot>            
            </table>
          </div>
        </div><!-- /.box-body -->
  </div><!-- /.box -->

</section><!-- /.content -->